.comment-text {
  text-align: left;
  padding: 2px;
  margin-left: 4px;
}
.comment {
  font-size: 16px;
}
.comment-form  {
  margin: 10px 0;
  width: 100%;
}
.comment-form input {
  width: 90%;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-top: 1px solid #efefef;
  color: #999;
}
.user {
  font-size: 14px;
  margin-left: 5px;
  color: black;
  font-weight: bold;
}
form {
  display: flex;
  color: red;
}
.input {
  border: none;
  border-top: 1px solid #efefef;
  outline: transparent;
  padding-left: 20px;
  height: 2rem;
  font-size: 1rem;
}
.submitButton {
  background: #fff;
  border: none;
  border-top: 1px solid #efefef;
  outline: none;
  padding-right: 20px;
  cursor: pointer;
  color: rgba(57, 200, 232, 0.4);
  font-size: 1rem;
}
#darken {
  color: rgba(57, 200, 232, 1);
}